.btn {
    font-size: 14px;
    min-width: 7vh;
    height: 3vh;
    margin-left: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    cursor: pointer;
    border-radius: 0.3vh;
    background-color: rgba(147, 163, 165, 0.1);
    transition: all ease 0.5s 0s;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

.btn.btn--complete {
    background-color: rgba(1, 163, 164, 0.5);
    color: #ffffff;
}

.btn.btn--cancel {
    background-color: rgba(238, 82, 83, 0.5);
    color: #ffffff;
}

