@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

* {
  font-family: 'Pretendard', Roboto;
  font-weight: 400;
  color: #1e1e1e;
}

h1, h2, h3, p {
  font-weight: 700;
  margin: 0;
}

h1, h2 {
  letter-spacing: -0.5px;
}
